.App {
  max-width: 960px;
  margin: 0 auto;
}
body {
  background: aliceblue;
}
.App-logo {
  width: 200px;
  margin: auto;
  display: block;
}
a {
  color: #80aaff;
  margin-left: 5px;
  text-decoration: none;
}
a:hover {
  color: #5f94fc;
}
footer {
  text-align: center;
  margin-bottom: 15px;
}
