.form {
  text-align: center;
}
.Dictionary input {
  width: 80%;
  color: #333;
  padding: 4px 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
section {
  background-color: white;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
}
